@media only screen and (min-width: 801px) {
    .nav-container{
        display: none;
    }
}
@media only screen and (max-width: 801px) {
    .nav-container{
        width: 100%;
        height:10vh;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 -0.2px 3px grey;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        z-index: 1000;
        padding-top: 10px;
    }
    .nav-icon{
        transform: scale(1.6);
        margin: 0 30px;
        opacity: 0.8;
    }
    div>p{
        text-align: center;
        font-family: poppins;
        margin-top:5px;
        font-size: 14px;
    }
}
